@charset "UTF-8";

body{
    font-family: sans-serif;
    font-size: 1em;
}

h1{
    color: #66bbff;
}
.botao{
    text-decoration: none;
    background-color: #66bbff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}